.goodsbye-title
{
    font-size: 50px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 25px;
}
/*main.phpのタイトルの部分*/
.goodsbye-title:after {
    content: "";
    position: absolute;
    width: 29%;
    left: 35.5%;
    height: 60px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.feed_form{
    text-align: center;
}
.caption>h4{
    font-size:30px;
    text-align: center;
}

.parent {/*親要素*/
    position: relative;
    background: orange;
    height: 200px;


}


#img_name{
    /*styleを使うときは#を使う.
    ちな、styleは最終手段*/
    margin-left: auto;
    margin-right: auto;


}

.thumbnail a>img {
    width: auto;
    height: 300px;
    border: 0px


}


.form-group{
    text-align: center;


}

div{ 
    text-align : center ;
}


#pagejump_demo .scroll_button_btm a{
    position: fixed;
    display: block;
    right:50px;
    top:50px;
    background: #313131;
    color:#fff;
    padding:20px;
}


.pager{
    padding-right: 80px;
    padding-left: 80px;
    padding: 30px 60px;
}

.container {
  padding: 1%;
}

.container {
  width: 1000px;
  display: -webkit-flex;
  display: flex;
}
.main {
  display: block;
  width: 660px;
  margin-right: 20px;
}
.sidebar {
  width: 320px;
}
.sidebar__item {
  margin-bottom: 20px;
}
.sidebar__item--fixed {
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
}
